body {
  padding-top: 75px;
  padding-bottom: 75px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 30px
}
nav a {
  color: white;
}

label {
  font-weight: 700;
}

.form-group{
  margin-top: 10px;
  margin-bottom 10px;

}