body {
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px
 
}

.fa-check{
  color: white;
  margin-right: 5px
}

.fa-plus{
  color: white;
  margin-right: 20px
}

.fa-chevron-left{
  color: white;
  margin-right: 15px;
  margin-left: 15px
}

.d-lg-block {
  color: white
}

nav.navbar-light i {
  color:black;
}

.fa-cog{
  color: #007bff;
  margin-right: 5px
}

.fa-user{
  color: white;
  position: float-right;
  margin-right: 20px
}

navbar 
nav.navbar-dark a {
  color: white;
}

label {
  font-weight: 700;
}

.full-width {
  width: 100%;
}

span {
  font-weight: 650;
  font-size: large;
}

.list-group-item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

