body {
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px
 
}

.fa-angle-left {
  color: white
}

.fa-sign-out-alt{
color:dark gray;
margin-right: 20px
}

.fa-check{
  color: white;
  margin-right: 5px
}

.fa-plus{
  color: white;
  margin-right: 20px
}

.fa-chevron-left{
  color: white;
  margin-right: 15px;
  margin-left: 15px
}

.d-lg-block {
  color: white
}

nav.navbar-light i {
  color:black;
}

.fa-cog{
  color: #007bff;
  margin-right: 5px
}

.fa-user{
  color: white;
  position: float-right;
  margin-right: 20px
}

navbar 
nav.navbar-dark a {
  color: white;
}

label {
  font-weight: 700;
}

.full-width {
  width: 100%;
}
.navbar-primary bg-primary fixed-bottom float-rightfixed-bottom{
  padding-top: 20px;
  margin-top: 20px
}


.list-group-item {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

